    <!--Script files-->
    <script src="/scripts/app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.cjs"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</body>
<script src="/scripts/app.js"></script>

</html>