<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<body class = "home-page">
<head>
<link rel="stylesheet" href="/styles/app.css">
</head>
<main>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Take Control of your Life.</h1>
  </div>
</div>
    <div class="container">
        <p class="home-paragraph">
            Welcome to our Sets & Reps – your ultimate companion for achieving fitness goals. Whether you're starting your journey or refining your routine, this platform empowers you to log exercises, track progress, and stay motivated. Join a community committed to healthier living and take the first step towards transforming your fitness story.
        </p>
        <div class="button-container">
        <a href="/workouts" class="btn">Go to Workouts</a>
        </div>
    </div>

    <div class = "image">
        <img src="assets/images/gym.jpg" alt="Gym">
    </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>